@media (max-width: 1200px) {
    .first__photo{
        width: 300px;
    }
    .icon__photo{
        width: 50px;
    }
    .icon {
        top: 5%;
        left: 40%;
    }
    .main__text {
        top: 30%;
        left: 45%;
    }
    .dependent__text {
        top: 53%;
        left: 45%;
        width: 230px;
    }
    .circle__flag {
        top: 65%;
        width: 70px;
        height: 70px;
        left: 35%;
    }
    .circle__flag-price-how_much {
        top: 71%;
        left: 41%;
        font-size: 18px;

    }
    .circle__flag-price-uan {
        top: 77%;
        left: 42%;
        font-size: 14px;

    }
    .photo__fasad{
        width: 280px;
        height: 280px;
    }
    iframe{
        width: 280px;
        height: 280px;
    }
    .adress {
        font-size: 16px;
    }

}
/*--------------------------------------------------THE TABLET-----------------------------------------------------------*/
@media (max-width: 992px) {
    .logo__malinna {
        width: 200px;
        padding-left: 30px;
    }
    .first__photo{
        width: 200px;
    }
    .studio__nails {
        font-size: 14px;
        text-align: center;
    }
    #btn-main1 {
        padding-left: 600px;
    }
    h4 {
        font-size: 18px;
    }
    .icon__photo{
        width: 40px;
    }
    .icon {
        top: 5%;
        position: absolute;
        left: 24%;
    }
    .main__text {
        top: 30%;
        left: 30%;
        font-size: 14px;
    }
    .dependent__text {
        top: 53%;
        left: 30%;
        width: 200px;
        font-size: 12px;
    }
    .circle__flag {
        top: 65%;
        width: 60px;
        height: 60px;
        left: 19%;
    }
    .circle__flag-price-how_much {
        top: 71%;
        left: 23%;
        font-size: 18px;

    }
    .circle__flag-price-uan {
        top: 80%;
        left: 24%;
        font-size: 12px;
    }
    .photo__fasad{
        width: 200px;
        height: 200px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
    .adress {
        font-size: 12px;
        padding: 0 10px;
    }
}
/*--------------------------------------------------MOBILE-----------------------------------------------------------*/
@media (max-width: 768px) {
    #btn-main1 {
        padding-left: 300px;
    }
    .logo__malinna {
        width: 260px;
        padding-left: 73px;
    }
    .studio__nails {
        font-size: 12px;
    }
    .logo__malina_manicure{
        margin-left: -90px;
    }
    .sweet__manicure1{
        margin-left: -20px;
        margin-top: -75px;
        font-size: 16px;
    }
    .sweet__manicure2{
        margin-left: -20px;
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    .img-col1{
        padding-bottom: 20px;
    }
    .first__photo{
        width: 290px;
    }
    .icon__photo{
        width: 40px;
    }
    .icon {
        top: 5%;
        left: 37%;
    }
    .main__text {
        top: 30%;
        left: 40%;
        font-size: 14px;
    }
    .dependent__text {
        top: 53%;
        left: 40%;
        width: 200px;
        font-size: 12px;
    }
    .circle__flag {
        top: 65%;
        width: 70px;
        height: 70px;
        left: 32%;
    }
    .circle__flag-price-how_much {
        top: 71%;
        left: 37%;
        font-size: 18px;

    }
    .circle__flag-price-uan {
        top: 80%;
        left: 38%;
        font-size: 12px;
    }
    #inst h3 {
        font-size: 18px;
    }



}