.photo{
    width: 350px;
    height: 350px;
    padding-bottom: 30px;
}
#btn-main3{
    padding-top: 20px;
    padding-bottom: 500px;
}
.portfolio{
    padding-top: 20px;
}
.tell-center{
    text-align: center;
    font-size: 14px;
}
.logo__malinna_photonails {
    padding-left: 45px;
    padding-top: 50px;
    width: 200px;
}
.studio__nails_photonails{
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    letter-spacing: 3px;
    padding-left: 16px;
    padding-top: 15px;
}