body {
    overflow-x: hidden;
}

.container {
    padding-top: 20px;
}

#navbarToggleExternalContent {
    z-index: 100;
    position: absolute !important;
}

/*MENU*/
.text-white {
    color: #f2f2f2 !important;
    margin-top: -45px;
    padding-left: 13px;
    font-family: 'Marck Script', cursive;
}

.text-muted {
    color: #f2f2f2 !important;
    font-family: 'Marck Script', cursive;
    padding-left: 13px;
    font-size: 16px;
}

.text-muted:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bg-dark {
    background: #F14A64 !important;
    border-radius: 2px;

}

/*MENU*/
.sweet__manicure2 {
    display: none;
}

.navbar-toggler {
    z-index: 1000;
    padding: 0 !important;
}

iframe {
    width: 340px;
    height: 306px;
}

.navbar {
    padding: 0;
    transition: 0.5s;
}

.arrow_left {
    width: 20px;
    height: 27px;
    border-style: solid;
    border-width: 13.5px 20px 13.5px 0;
    padding-left: 10px;
    transition: .5s;
    border-color: transparent #000000 transparent transparent;
}

.arrow_right {
    width: 20px;
    height: 27px;
    border-style: solid;
    border-width: 13.5px 0 13.5px 20px;
    margin-left: 15px;
    transition: .5s;
    border-color: transparent transparent transparent #000000;

}
.owl-prev {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 35%;
    left: 15px;
    display: block !important;
    border: 0px solid black;
    background: #f7f7f7 !important;
    opacity: 1;
    transition: .5s;
}

.owl-next {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 35%;
    right: 15px;
    display: block !important;
    border: 0px solid black;
    background: #f7f7f7 !important;
    opacity: 1;
    transition: .5s;
}

.owl-prev:hover {
    background: #ffe7e7 !important;
}

.owl-next:hover {
    background: #ffe7e7 !important;
}

.owl-prev:hover .arrow_left {
    border-color: transparent #d45467 transparent transparent;
}

.owl-next:hover .arrow_right {
    border-color: transparent transparent transparent #d45467;
}

.owl-prev i, .owl-next i {
    transform: scale(1, 6);
    color: #ccc;
}

.owl-nav {
    display: block !important;
}

.fa-angle-left {
    color: black !important;
}

.fa-angle-right {
    color: black !important;
}

.owl-carousel {
    width: 70vw;
    height: 320px;
    margin-bottom: 30px;
}

.owl-stage-outer {
    margin-left: 10%;
    margin-right: 10%;
    height: 320px;
}

.photo__gallery {
    width: 100%;
}

.logo__malinna {
    padding-left: 45px;
}

.price_photo {
    width: 100%;
}

.call__me {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: myriad-pro, sans-serif;
    font-size: 24px;
    text-align: center;

}

.about__us {
    width: 150px;
    margin: auto;
    position: relative;
    margin-bottom: 10px;

}

.contacts {
    width: 170px;
    margin: auto;
    position: relative;
}

.contacts p {
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 36px;
}

.photo__nails {
    width: 200px;
    margin: auto;
    position: relative;
}

.photo__nails p {
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 36px;
}

.about__us p {
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 36px;
}

.button__more {
    margin-top: 0px;
    text-transform: uppercase;
}

.button__more-price, .button__more-nails, .button__subscribe {
    text-transform: uppercase;
}

#navbarToggleExternalContent {
    position: fixed;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    margin: 5px;
}

h3 {
    font-family: 'Marck Script', cursive;
}

p {
    font-size: 14px;
}

.studio__nails {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    letter-spacing: 3px;
    padding-left: 16px;
    padding-top: 15px;
}

p, h6, h7 {
    font-family: myriad-pro, sans-serif;
}

.photo__fasad {
    width: 340px;
    height: 306px;
}

#inst-cont__footer {
    margin-top: 50px;
    background: #575757;
}

#inst h3 {
    font-size: 36px;
}

#inst {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 20px;
}

.line__price, .line__photo, .line__contacts {
    padding-bottom: 20px;
    padding-top: 20px;
}

#n-mast {
    margin-bottom: 50px;
}

#rw_photos {
    padding-bottom: 20px;
    height: 100%;
}

.price__row {
    padding-bottom: 20px;
}

#price {
    width: 150px;
    margin: auto;
    position: relative;
}

#price p {
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 36px;
}

.pink__line {
    height: 1px;
    width: 100%;
    background: #F14A64;
    position: absolute;
    bottom: 2px;
}

.mastera-col {
    padding-bottom: 100px;
}

section {
    margin-bottom: 50px;
}

.about {
    background: #f2f2f2;
}

.text__about_us {
    padding: 10px 30px;
}

#insta {
    background: #f2f2f2;

}

.row__btn {
    height: 70px;
}

#fon_1 {
    background: white;
}

#fon_2 {
    background: white;
    margin-top: -100px;
    margin-bottom: -100px;
}

.collapse {
    width: 100%;
}

.navbar {
    position: absolute;
    top: 0px;
    background-color: #F75368 !important;
}

.collapsed1 {
    width: 300px !important;
}

.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width: auto;
}

.collapse.in.height {
    height: auto;
}

.carousel-inner {
    height: 600px;
}

#logo-col {

    height: 110px;
    float: right;
    width: 250px;

}
.sweet__manicure1 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    transform: rotate(-20deg);
    padding-left: 100px;
    margin-bottom: 0;
}

.sweet__manicure2 {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    transform: rotate(-20deg);
    padding-left: 130px;
    padding-top: 0px;
}

#heder-col h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#heder-col h5 {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);

}

.subheder-col {
    position: relative;
}

.subheder-col h4 {
    text-align: center;
}

.subheder-col h3 {
    font-size: 34px;
    text-align: center;
}

.lineabout {
    margin: 0px 0px 0px 510px;
    position: relative;
    z-index: 1;
    top: -23px;
}

.lineprice {
    margin: 0px 0px 10px 480px;
    position: relative;
    z-index: 1;
    top: -23px;
}

.linephoto {
    margin: 0px 0px 10px 480px;
    position: relative;
    z-index: 1;
    top: -23px;
}

.lineour__masters {
    margin: 0px 0px 10px 477px;
    position: relative;
    position: relative;
    z-index: 1;
    top: -23px;
}

.linecontacts {
    margin: 0px 0px 10px 500px;
    position: relative;
    z-index: 1;
    top: -23px;
}

.subheder-col br {
    line-height: 10%;
}

.subheder-col p {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    text-align: center;
}

.button__order {
    font-family: myriad-pro, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.modal_thank{
    border-radius: 0px;
 
}
.wordsofthanks{
    padding: 20px;
    margin: 0px;
    font-size: 14px;
    font-family: myriad-pro, sans-serif;
}
#btn-main .button__order {
    color: white !important;
    background-color: #F75368 !important;
    border-radius: 2px !important;
    border-color: transparent;
    width: 220px;
    position: absolute;
    left: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translate(-50%);

    background: linear-gradient(to right, #F75368 0%, #f8b3b5 50%, #F75368 50%, #f8b3b5 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

#btn-main1 {

    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
    padding-left: 850px;
}

#btn-main .button__order:hover {
    background-position: 0 0;
    cursor: pointer;
}

#btn-main1 .button__more {
    color: white !important;
    border-radius: 2px !important;
    border-color: transparent;
    width: 180px;
    background: linear-gradient(to right, #F75368 0%, #f8b3b5 50%, #F75368 50%, #f8b3b5 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

#btn-main1 .button__more:hover {
    background-position: 0 0;
}

#btn-main1 .button__more:focus {
    box-shadow:none;
}

#btn-main2 .button__more-price {
    color: white !important;
    background-color: #F75368 !important;
    border-radius: 2px !important;
    border-color: transparent;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to right, #F75368 0%, #f8b3b5 50%, #F75368 50%, #f8b3b5 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

#btn-main2 .button__more-price:hover {
    background-position: 0 0;
    cursor: pointer;
}

*#btn-main3 .button__more-nails {
    color: white !important;
    background-color: #F75368 !important;
    border-radius: 2px !important;
    border-color: transparent;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to right, #F75368 0%, #f8b3b5 50%, #F75368 50%, #f8b3b5 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

#btn-main3 .button__more-nails:hover {
    background-position: 0 0;
    cursor: pointer;
}

#btn-main4 .button__subscribe {

    color: white !important;
    background-color: #F75368 !important;
    border-radius: 2px !important;
    border-color: transparent;
    width: 220px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    background: linear-gradient(to right, #F75368 0%, #f8b3b5 50%, #F75368 50%, #f8b3b5 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
}

#btn-main4 .button__subscribe:hover {
    background-position: 0 0;
    cursor: pointer;
}

#cont-button {
    height: 25px;
}

.navbar-static-top {
    height: 40px;
}

.malinna__copyright {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-family: myriad-pro, sans-serif;
    font-size: 14px;

}

.malinastudio__insta a {
    padding-top: 5px;
    color: #F75368;
}

.malinastudio__insta a:hover {
    color: #000;
}

.malinastudio {
    padding-bottom: 5px;
    padding-left: 10px;
}

.adress {
    padding: 0 50px;
    font-family: myriad-pro, sans-serif;
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: normal;
}

.subscribe__icon {
    padding-left: 20px;
}

.icon__photo__one {
    width: 55px;
}
.icon__photo__one:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.icon__photo__two {
    width: 50px;
}
.icon__photo__two:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.icon__photo__three {
    width: 55px;
}
.icon__photo__three:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}


/*-------------------------PRICE--------------------------*/
.my__price{
    width: 790px;
    padding-left: 20px;
    padding-right: 20px;
}
.cont__price {
    margin: 30px;
}

.price__text {
    background-image: -moz-linear-gradient(0deg, rgb(175, 23, 43) 0%, rgb(228, 127, 145) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(175, 23, 43) 0%, rgb(228, 127, 145) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(175, 23, 43) 0%, rgb(228, 127, 145) 100%);
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    height: 60px;
    padding-top: 20px;
    padding-left: 40px;
    position: relative;
    z-index: 3;
}

.manicure {
    display: flex;
}

.red__text {
    color: #F14A64;
}

.float__malina_plus_briliant {
    position: relative;
    top: -90px;
    left: 85%;
    z-index: 4;
}

.price__fornails {
    border: 1px solid #F14A64;
    border-radius: 10px;
}

.section__none_padding {
    margin-bottom: 0px;
}

/*-------------------------------*/
.first__photo {
    width: 100%;
}

.father {
    position: relative;
    width: 100%;
    
}

.opasity__block {
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
}

.icon {
    top: 10%;
    position: absolute;
    left: 45%;
}

.circle__flag-price-how_much {
    top: 73%;
    text-align: center;
    position: absolute;
    left: 43%;
    font-family: myriad-pro, sans-serif;
    font-size: 24px;
    color: #d75467;
    font-weight: bolder;
}

.circle__flag-price-uan {
    top: 81%;
    text-align: center;
    position: absolute;
    left: 46%;
    font-family: myriad-pro, sans-serif;
    font-size: 14px;
    color: #d75467;
    font-style: italic;
}

.circle__flag {
    top: 65%;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    left: 35%;
    background: rgba(255, 255, 255, 0.6);
}

.main__text__one, .main__text__two, .main__text__three {
    text-align: center;
    position: absolute;
    top: 35%;
    transform: translate(-50%);
    font-weight: bolder;
    font-size: 16px;
}

.main__text__one {
    left: 50%;
}

.main__text__two {
    left: 52%;
}

.main__text__three {
    left: 50%;
}
button:focus {
    outline:none !important;
  box-shadow: none !important;
  }
.btn-primary:focus {
    box-shadow:none;
}
.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
    }
.dependent__text__one, .dependent__text__two, .dependent__text__three {
    text-align: center;
    position: absolute;
    top: 54%;
    transform: translate(-50%, -50%);
    letter-spacing: normal;
    width: 250px;
}

.dependent__text__one {
    left: 50%;
}

.dependent__text__two {
    left: 51%;
}

.dependent__text__three {
    left: 50%;
}

